<div id="contenedor-principal">

    <div *ngIf="this.errores.length > 0 ">
        <div *ngFor="let error of errores" class="alert alert-danger " role="alert">


            <div class="row">
                <div class="col">
                    <button class="page-button m-0 w-100" (click)="anteriorPagina()">
                        <h4 [ngClass]="{'disabled': this.disabledAtras}">volver</h4>
                    </button>
                </div>

                <div class="col">
                    <i class="fa-solid fa-circle-exclamation "></i> {{error}} 
                </div>
            </div>
            
        </div>
    </div>
    

    <app-loader *ngIf="this.loading == true"></app-loader>

    <div class="container" *ngIf="this.loading == false">


        <div class="row">
            <div class="col-6 col-md-4 p-3" *ngFor="let pelicula of this.peliculas.results">
                <app-pelicula [titulo]="this.pelicula.title" [img]="this.pelicula.backdrop_path"
                    [id]="this.pelicula.id">
                </app-pelicula>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <button class="page-button w-100" (click)="anteriorPagina()">
                    <h4 [ngClass]="{'disabled': this.disabledAtras}">Volver</h4>
                </button>
            </div>

            <div class="col-6">
                <button class="page-button w-100" (click)="siguientePagina()">
                    <h4>Siguiente</h4>
                </button>
            </div>
        </div>


    </div>


</div>
