<div id="contenedor">

    <!-- for de los posibles errores -->
    <div *ngIf="this.errores.length > 0 ">
        <div *ngFor="let error of errores" class="alert alert-danger " role="alert">

            <div class="row">
                <div class="col">
                    <button class="page-button m-0 w-100" (click)="atras()">
                        <h4>volver</h4>
                    </button>
                </div>

                <div class="col">
                    <i class="fa-solid fa-circle-exclamation "></i> {{error}}
                </div>
            </div>

        </div>
    </div>

    <!-- pantalla de carga -->
    <app-loader *ngIf="this.loading == true"></app-loader>

    <!-- contenido principal de la pagina (informacion de la pelicula seleccionada) -->
    <div *ngIf="this.loading == false" class="row">
        <div class="col-12 position-relative">
            <button id="btn-volver" class="page-button" (click)="atras()"><i class="fa-solid fa-arrow-left"></i></button>
            <img *ngIf="this.pelicula.backdrop_path != null" [src]="'https://image.tmdb.org/t/p/original/' + this.pelicula.backdrop_path" [alt]="this.pelicula.title">
            <img *ngIf="this.pelicula.backdrop_path == null" src = "https://programacion.net/files/article/20161110041116_image-not-found.png" alt="Error al buscar la imagen">
        </div>

        <div class="col-12">

            <div id="info">
                <h3 class="mt-5 mb-4">{{this.pelicula.title}}</h3>
                <p>{{this.pelicula.overview}}</p>
                <h5 class="mt-5">presupuesto: {{this.pelicula.budget | currency:'USD'}}</h5>

                <h5 class="mt-5">Pais de produccion</h5>
                <h5 class="ms-3 mt-2" *ngFor="let produccion of this.pelicula.production_countries">
                    - {{produccion.name}}
                </h5>

                <h5 class="mt-5 mb-5"><i class="fa-solid fa-star"></i> {{this.pelicula.vote_average}}</h5>

                <a *ngIf="this.pelicula.homepage != '' " class="mt-5" [href]="this.pelicula.homepage" target="_blank"> <i class="fa-solid fa-earth-americas"></i> visitar sitio web</a>

            </div>
        </div>

    </div>
</div>
