<nav class="navbar navbar-expand-lg">
    <div class="container-fluid ps-4 pe-4">
        <a class="navbar-brand text-white" href="#">MOVIEK</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
            aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
            </ul>

            <app-buscador></app-buscador>
            
        </div>

    </div>
</nav>