.navbar{
    background-color: rgba(214, 16, 26, 0.596);
}

.navbar-toggler{
    
    padding: 7px;
    padding-right: 11px;
    padding-left: 11px;
    border-radius: 8px;
    color: white;
    background-color: white;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}